<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{'/snimi/'+ ${model.id}}" th:object="${model}" th:method="PUT">
    <table>
        <tr>
            <td><label>Start</label></td>
            <td><input type="text" th:field="*{start}" /></td>
        </tr>
        <tr>
            <td><label>Destination</label></td>
            <td><input type="text" th:field="*{destination}" /></td>
        </tr>
        <tr>
            <td><label>Date</label></td>
            <td><input type="text" th:field="*{date}" /></td>
        </tr>
        <tr>
            <td><label>Time</label></td>
            <td><input type="text" th:field="*{time}" /></td>
        </tr>
        <tr>
            <td><label>AvailableSeats</label></td>
            <td><input type="text" th:field="*{availableSeats}" /></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit">Update</button></td>
        </tr>
    </table>
</form>
</body>
</html>