<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Route Id</th>
            <th>Start</th>
            <th>Destination</th>
            <th>Date</th>
            <th>Time</th>
            <th>Available Seats</th>
        </tr>
        </thead>
        <tbody>
        <br>
        <br>
            <tr>
                <td th:text="${model.Id}">...</td>
                <td th:text="${model.start}">...</td>
                <td th:text="${model.destination}">...</td>
                <td th:text="${model.date}">...</td>
                <td th:text="${model.time}">...</td>
                <td th:text="${model.availableSeats}">...</td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>

